/* Main view */
.body-container {
    display: block;
}

/* Header */
header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5vh;
}

header span {
    width: max-content;
}

.gradient-header {
    font-size: 5rem;
    font-family: 'Mark Pro', sans-serif;
    line-height: 100%;
    letter-spacing: -.03em;
}

.sub-header {
    padding: 2vh 5vh 3vh;
}

.output-sub-header {
    padding: 5vh 5vh 0vh;
}

/* Program section */
.program-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: white;
    padding-bottom: 20vh;
    z-index: 100;
    animation: fadeIn 3s;
}

input {
    width: 50vw;
    border: 0;
    outline: 0;
    padding: 3px;
    margin: 30px 0px 10px;
    font-family: "Roboto Mono", monospace;
    background: transparent;
    border-bottom: 2px solid white;
    text-align: center;
}

input[type=number] {
    padding-left: 15px;
}

::placeholder {
    color: white;
}

button {
    font-size: 100%;
    margin-top: 8vh;
    margin-bottom: 4vh;
    width: 20vh;
    height: 30px;
    border: none;
    background: var(--light);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(255, 165, 0, 0.4) 0px 5px, rgba(255, 165, 0, 0.3) 0px 10px, rgba(255, 165, 0, 0.2) 0px 15px, rgba(255, 165, 0, 0.1) 0px 20px, rgba(255, 165, 0, 0.05) 0px 25px;
}

button:hover {
    background: var(--dark);
}

/* Responsive Media */
@media (max-width: 1500px) {
    header {
        padding-top: 1vh;
    }
}

@media (max-width: 1000px) {
    header {
        padding-top: 2vh;
    }

    .gradient-header {
        font-size: 4rem;
    }
}

@media (max-width: 700px) {
    header span {
        width: min-content;
    }

    input {
        width: 70vw;
    }

    .sub-header {
        padding: 2vh 3vh 1vh;
    }
}