/* Fonts */
@font-face {
    font-family: 'Mark Pro';
    src: url('../fonts/Mark_Pro.woff') format('woff');
}


/* Colours */
:root {
    --lightest: rgb(97,88,133);
    --light: rgb(54,49,74);
    --dark: rgb(22,20,30);
    --darkest: rgb(13,12,18);
    --light-orange: #f9d423;
    --dark-orange: #f83600;
    --white: #fff;
    --black: #000;
    --purple: #8000ff;
    --light-purple: #cf59e6;
    --light-blue: #6bc5f8;

    --base-font-size: 1em;

    --mq-small: "(min-width: 48em)";
    --mq-medium: "(min-width: 64em)";
    --mq-large: "(min-width: 85.375em)";
    --mq-xlarge: "(min-width: 120em)";
    --mq-xxlarge: "(min-width: 160em)";
    --mq-retina: "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)";
}

html {
    scroll-behavior: smooth;
}

/* Responsive Text */
body {
    overflow-x: hidden;
    overflow-y: hidden;
    
    font-size: calc(var(--base-font-size)*0.9);
}

@media (min-width: 48em) {
    body {
        font-size: calc(var(--base-font-size));
    }
}

@media (min-width: 64em) {
    body {
        font-size: calc(var(--base-font-size)*1);
    }

    .nav-resources {
        margin-left: -46px !important;
    }
}

@media (min-width: 120em) {
    body {
        font-size: calc(var(--base-font-size)*1.1);
    }

    .nav-resources {
        top: 116px !important;
        margin-left: -47px !important;
    }
}

@media (min-width: 160em) {
    body {
        font-size: calc(var(--base-font-size)*1.2);
    }

    .nav-resources {
        top: 120px !important;
        margin-left: -49px !important;
    }
}

/* Default Styles */
body.scroll {
    overflow-y: auto;
}

::selection {
    background-color: rgba(255, 207, 103, 0.781);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
    color: white;
    cursor: none;
}

.text-container {
    padding: 5vh 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadeIn 3s;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

input,
textarea {
    font-size: 100%;
}

/* Animations */
.fade-in {
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

.fade-in.appear {
    opacity: 1;
}

.from-bottom {
    transform: translateY(10vh);
}

.from-bottom.appear {
    transform: translateY(0);
}

/* Keyframes */
@keyframes fadeIn {
    0% {opacity: 0; visibility: hidden;}
    100% {opacity: 1; visibility: visible;}
}

@keyframes fadeScroll {
    0% {background: var(--darkest);}
}

@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
}

/* Custom cursor */
.custom-cursor {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10000000 !important;
    pointer-events: none;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.custom-cursor .outer {
    margin-left: -15px;
    margin-top: -15px;
    width: 30px;
    height: 30px;
    border: 1px solid orange;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 10000000 !important;
    opacity: .5;
    -webkit-transition: all .08s ease-out;
    -o-transition: all .08s ease-out;
    transition: all .08s ease-out;
}

.custom-cursor .inner {
    position: absolute;
    background-color: orange;
    transition: linear height 0.2s, linear width 0.2s;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 6px;
    height: 6px;
    z-index: 10000001 !important;
}

.hoveredCursor {
    width: 30px !important;
    height: 30px !important;
}

/* Hamburger Icon */
.toggle-button {
    position: relative;
    margin-left: auto;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 35px;
    height: 20px;
}

.toggle-button .bar {
    height: 2px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

/* Main view */
.body-container {
    display: none;
    height: auto;
    background-color: rgba(0, 0, 0, 1);
    transition: ease-in-out 1s;
}

.body-container.active {
    display: block;
}

.body-container.fade {
    background-color: var(--darkest);
}

/* Navbar */
.nav-container {
    position: relative;
    z-index: 999;
    font-size: 110%;
    animation: fadeIn 3s;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar {
    justify-content: space-between;
    align-items: center;
    width: 100%;
    display: flex;
}

.navbar ul {
    padding: 45px 0px 45px 60px;
}

.navbar-items {
    display: flex;
}

.navbar-items li {
    padding: 45px 20px;
}

.navbar-items li a {
    transition: ease-in-out color 0.3s;
}

.navbar-items ul li a:hover {
    color: #CF6DDE;
}

.navbar-items li a:hover {
    color: orange;
}

.navbar-items li:last-child {
    padding-right: 60px;
}

.nav-resources,
.nav-subcategory {
    display: none;
}

.logo {
    display: flex;
    font-size: larger;
}

.logo-circle {
    color: orange;
}

/* Headers */
.header {
    padding: 5vh 10vh 8vh;
}

.header span {
    font-family: 'Mark Pro', sans-serif;
    line-height: 100%;
    letter-spacing: -.03em;
}

.header h2 {
    margin-top: 2vh;
    margin-left: 0.5vh;
    width: max-content;
    font-family: 'Roboto Mono', monospace;
    letter-spacing: .15em;
    text-transform: uppercase;
}

.header-text, 
.header h2 {
    animation: fadeIn 3s;
}

.gradient-header {
    background: -webkit-linear-gradient(135deg,var(--light-orange),var(---dark-orange),var(--light-orange),var(--dark-orange));
    background: linear-gradient(-45deg,var(--light-orange),var(--dark-orange),var(--light-orange),var(--dark-orange));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400% 400%;
    -webkit-animation: gradient 3s ease infinite, fadeIn 3s;
    animation: gradient 3s ease infinite, fadeIn 3s;
}

.sub-header {
    font-size: larger;
    animation: fadeIn 3s;
    padding: 5vh 5vh 0vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.orange-text {
    color: orange;
}

/* Footer  */
.spacer {
    bottom: 5vh;
    position: absolute;
    aspect-ratio: 3/2;
    background-image: url('../svg/footer.svg');
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.footer-container {
    position: relative;
    height: 35vw;
    animation: fadeIn 3s;
}

.footer {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 5vh;
    height: 5vh;
    width: 100%;
    background-color: #f83600;
}

/* Custom scroll */
::-webkit-scrollbar {
    width: 15px;
    transition: ease-in-out 1s;
}

::-webkit-scrollbar.active {
    display: block;
}

::-webkit-scrollbar-track {
background: var(--darkest);
}

::-webkit-scrollbar-thumb {
border-radius: 100px;
background: orange;
animation: fadeScroll 3s;
background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
background: #bb7900;
}

/* Responsive Media */
@media (min-width: 800px) {
    .header span {
        font-size: 7rem;
    }

    .header h2 {
        font-size: 1.5rem;
    }

    .nav-resources > ul {
        flex-direction: column;
        padding: 3px 5px 5px 0px;
        border-top: 3px solid orange;
        background-color: #24252a;
    }

    .nav-resources li {
        padding: 3px 5px 3px 10px;
    }

    .nav-resources ul li a {
        font-size: 90%;
    }

    .nav-resources {
        position: absolute;
        opacity: 0;
        top: 114px;
        margin-left: -48px;
        z-index: 1;
    }

    .resources-button:hover .nav-resources {
        display: flex;
        opacity: 1;
    }

    .resources-button:hover .navbar-item {
        color: orange;
    }

    .subcategory-button.active .nav-subcategory {
        display: flex;
        opacity: 1;
    }

    .subcategory-button.active ul {
        padding-top: 5px;
        border: none;
    }

    .subcategory-button.active > a {
        position: relative;
        z-index: 1;
        border-bottom: 3px solid #CF6DDE;
    }

    .subcategory-button.active div ul li a:hover {
        color: orange;
    }
}

@media (max-width: 1000px) {
    .header span {
        font-size: 5rem;
    }

    .header h2 {
        font-size: 1rem;
    }
}

@media (max-width: 800px) {
    .toggle-button {
        display: flex;
        margin-right: 35px;
    }

    .navbar ul {
        padding: 4vh 0 4vh 35px;
    }

    .nav-container {
        flex-direction: column;
    }

    .navbar {
        justify-content: space-between;
        align-items: center;
        height: 100px;
    }

    .navbar-items {
        display: none;
        background-color: var(--dark);
        width: 100%;
        align-items: center;
        flex-direction: column;
        margin-right: 0px;
        padding: 5px 0;
    }

    .navbar-items ul {
        width: 100%;
        flex-direction: column;
        margin-right: 0px;
    }

    .nav-resources ul {
        background-color: var(--light);
    }

    .nav-subcategory > ul {
        background-color: var(--lightest);
    }

    .navbar-items.active {
        display: flex;
    }

    .navbar-items li {
        font-size: 1rem;
        padding: 1vh 0vh;
        text-align: center;
    }

    .navbar-items li:nth-last-child(1) {
        padding-right: 0vh;
    }

    .navbar-items.active {
        position: static;
        display: flex;
    }

    .resources-button {
        width: 100%;
        padding: 0;
    }

    .resources-button:hover .projects ul {
        opacity: 1;
        visibility: visible;
        transition: all 0.3s ease 0s;
    }

    .nav-resources ul {
        display: flex;
        flex-direction: column;
        margin-top: 1.8vh;
    }

    .nav-resources li {
        width: 100%;
        padding: 7px 0;
    }
    
    .nav-resources li a {
        padding: 10px;
        font-size: 0.9rem;
    }
    
    .nav-resources.active {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .subcategory-button.active .nav-subcategory {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .subcategory-button.active ul {
        border: none;
    }

    .subcategory-button.active div ul li a:hover {
        color: orange;
    }

    .header span {
        font-size: 4rem;
    }

    .header h2 {
        font-size: 1rem;
    }
}

@media (max-width: 500px) {
    .header {
        padding: 3vh 5vh;
    }

    .header span {
        font-size: 3rem;
    }

    .header h2 {
        font-size: 1rem;
    }

    .text-container {
        padding: 5vh 7vh;
    }

    .sub-header {
        font-size: small;
    }

    .socials-container img {
        width: 5vh;
        height: 5vh;
    }

    .spacer {
        bottom: 9vh;
    }

    .footer {
        padding-top: 5vh;
    }

    .footer p {
        font-size: smaller;
    }
}